{
  "openapi": "3.1.1",
  "info": {
    "title": "FalkElTawfik.Api | v1",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.falk-el-tawfiq.com/"
    }
  ],
  "paths": {
    "/api/v1/students/me": {
      "get": {
        "tags": [
          "students"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FalkElTawfik.Application.Features.Students.GetStudentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "students"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FalkElTawfik.Api.Endpoints.Students.Update.Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payments/cancel": {
      "post": {
        "tags": [
          "payments"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payments": {
      "post": {
        "tags": [
          "payments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FalkElTawfik.Api.Endpoints.Payments.Create.Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FalkElTawfik.Application.Features.Payments.CreatePaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payments/{paymentAttemptId}": {
      "get": {
        "tags": [
          "payments"
        ],
        "parameters": [
          {
            "name": "paymentAttemptId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FalkElTawfik.Application.Features.Payments.GetPaymentStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payments/paymob/webhook": {
      "post": {
        "tags": [
          "payments"
        ],
        "operationId": "PaymobChargeWebhook",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/lessons/webhooks/bunny": {
      "post": {
        "tags": [
          "lessons"
        ],
        "operationId": "BunnyWebhook",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/lessons/{id}": {
      "get": {
        "tags": [
          "lessons"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FalkElTawfik.Application.Features.Lessons.GetLessonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/instructor/lessons": {
      "post": {
        "tags": [
          "instructor: lessons"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FalkElTawfik.Api.Endpoints.Lessons.Instructor.Create.Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FalkElTawfik.Application.Features.Lessons.Common.CreateLessonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "ErrorType: Problem/NotFound/Conflict/Forbidden"
                          }
                        }
                      },
                      "description": "For 400 MultiError/ValidationError only — inner Error[] ({Code, Description, Type})"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/instructor/lessons/pdf": {
      "post": {
        "tags": [
          "instructor: lessons"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "sectionId",
                  "title",
                  "file"
                ],
                "type": "object",
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "sectionId": {
                        "type": "string",
                        "format": "uuid"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "file": {
                        "$ref": "#/components/schemas/IFormFile"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FalkElTawfik.Application.Features.Lessons.Common.CreateLessonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Problem type URI"
                    },
                    "title": {
                      "type": "string",
                      "description": "Problem code"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status"
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable detail"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Trace: HttpContext.TraceIdentifier"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace: Activity.TraceId"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
[...]
